USE [master]
GO
/****** Object:  Database [QuanLyCamDo_Pro]    Script Date: 11/05/2026 15:08:18 ******/
CREATE DATABASE [QuanLyCamDo_Pro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo_Pro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo_Pro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_Pro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo_Pro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo_Pro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo_Pro]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2.2. Hàm tính số tiền khách phải trả (Tổng nợ - Tổng tiền đã trả)
CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @MaHD INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @TongNo DECIMAL(18, 2) = dbo.fn_CalcMoneyTransaction(@MaHD, @TargetDate);
    DECLARE @DaTra DECIMAL(18, 2);
    SELECT @DaTra = TongTienDaTra FROM dbo.HopDong WHERE MaHD = @MaHD;
    RETURN ROUND(@TongNo - ISNULL(@DaTra, 0), 2);
END

GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 2. HÀM TÍNH TOÁN (Functions)
-- =============================================

-- 2.1. Hàm tính tổng dư nợ (Gốc + Lãi) tại thời điểm TargetDate
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @MaHD INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @P DECIMAL(18, 2), @r DECIMAL(10, 5), @d1 DATE, @ngayVay DATE;
    SELECT @P = SoTienVay, @r = LaiSuatNgay, @d1 = Deadline1, @ngayVay = NgayVay FROM dbo.HopDong WHERE MaHD = @MaHD;

    IF @P IS NULL RETURN 0;

    DECLARE @n1 INT = DATEDIFF(day, @ngayVay, CASE WHEN @TargetDate < @d1 THEN @TargetDate ELSE @d1 END);
    IF @n1 < 0 SET @n1 = 0;
    DECLARE @A1 DECIMAL(18, 2) = @P * (1 + @r * @n1);

    IF @TargetDate <= @d1 RETURN ROUND(@A1, 2);

    DECLARE @n2 INT = DATEDIFF(day, @d1, @TargetDate);
    RETURN ROUND(@A1 * POWER(1 + @r, @n2), 2);
END

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[Email] [varchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayVay] [date] NULL,
	[SoTienVay] [decimal](18, 2) NOT NULL,
	[LaiSuatNgay] [decimal](10, 5) NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TongTienDaTra] [decimal](18, 2) NULL,
	[TongNoHienTai] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[IsBadDebt] [bit] NULL,
	[IsLiquidated] [bit] NULL,
	[NgayTatToan] [datetime] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BadDebts]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 4. VIEW & TRIGGERS
-- =============================================

-- View xem danh sách nợ xấu
CREATE VIEW [dbo].[vw_BadDebts] AS
SELECT h.MaHD, k.TenKH, h.SoTienVay, h.Deadline1, dbo.fn_CalcMoneyContract(h.MaHD, GETDATE()) AS NoHienTai
FROM dbo.HopDong h JOIN dbo.KhachHang k ON h.MaKH = k.MaKH
WHERE h.IsBadDebt = 1 OR h.Deadline1 < GETDATE();

GO
/****** Object:  Table [dbo].[LichSuTrangThaiHopDong]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTrangThaiHopDong](
	[MaLS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaNV] [int] NULL,
	[TrangThaiCu] [nvarchar](50) NULL,
	[TrangThaiMoi] [nvarchar](50) NOT NULL,
	[ThoiGianThayDoi] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogHopDong]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogHopDong](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayTra] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[TienGocDaThu] [decimal](18, 2) NULL,
	[TienLaiDaThu] [decimal](18, 2) NULL,
	[DuNoGocConLai] [decimal](18, 2) NULL,
	[TongNoConLai] [decimal](18, 2) NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[Email] [varchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[TenTS] [nvarchar](255) NOT NULL,
	[LoaiTaiSan] [nvarchar](100) NOT NULL,
	[ThuongHieu] [nvarchar](100) NULL,
	[Model] [nvarchar](100) NULL,
	[MauSac] [nvarchar](50) NULL,
	[SerialNumber] [varchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[GiaThanhLy] [decimal](18, 2) NULL,
	[TrangThaiTS] [nvarchar](50) NULL,
	[IsSold] [bit] NULL,
	[NgayNhapKho] [datetime] NULL,
	[NgayTraKhach] [datetime] NULL,
	[NgayThanhLy] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHD], [MaKH], [MaNV], [NgayVay], [SoTienVay], [LaiSuatNgay], [Deadline1], [Deadline2], [TongTienDaTra], [TongNoHienTai], [TrangThai], [IsBadDebt], [IsLiquidated], [NgayTatToan], [NgayTao]) VALUES (1, 1, 1, CAST(N'2026-05-11' AS Date), CAST(15000000.00 AS Decimal(18, 2)), CAST(0.00500 AS Decimal(10, 5)), CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), CAST(1000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Đang vay', 0, 0, NULL, CAST(N'2026-05-11T14:55:52.383' AS DateTime))
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [MaNV], [NgayVay], [SoTienVay], [LaiSuatNgay], [Deadline1], [Deadline2], [TongTienDaTra], [TongNoHienTai], [TrangThai], [IsBadDebt], [IsLiquidated], [NgayTatToan], [NgayTao]) VALUES (2, 2, 2, CAST(N'2026-05-11' AS Date), CAST(20000000.00 AS Decimal(18, 2)), CAST(0.00500 AS Decimal(10, 5)), CAST(N'2026-05-20' AS Date), CAST(N'2026-06-20' AS Date), CAST(5000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Đang vay', 0, 0, NULL, CAST(N'2026-05-11T14:55:52.413' AS DateTime))
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [MaNV], [NgayVay], [SoTienVay], [LaiSuatNgay], [Deadline1], [Deadline2], [TongTienDaTra], [TongNoHienTai], [TrangThai], [IsBadDebt], [IsLiquidated], [NgayTatToan], [NgayTao]) VALUES (3, 3, 3, CAST(N'2026-05-11' AS Date), CAST(25000000.00 AS Decimal(18, 2)), CAST(0.00500 AS Decimal(10, 5)), CAST(N'2026-05-15' AS Date), CAST(N'2026-06-15' AS Date), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Đang vay', 0, 0, NULL, CAST(N'2026-05-11T14:55:52.427' AS DateTime))
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [CCCD], [SDT], [Email], [DiaChi], [NgaySinh], [GioiTinh], [GhiChu], [NgayTao]) VALUES (1, N'Lê Văn Nam', N'035201004567', N'0987654321', NULL, N'Thái Nguyên', NULL, NULL, NULL, CAST(N'2026-05-11T14:55:52.367' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [CCCD], [SDT], [Email], [DiaChi], [NgaySinh], [GioiTinh], [GhiChu], [NgayTao]) VALUES (2, N'Phạm Minh Tuấn', N'035201001111', N'0901234567', NULL, N'Hà Nội', NULL, NULL, NULL, CAST(N'2026-05-11T14:55:52.367' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [CCCD], [SDT], [Email], [DiaChi], [NgaySinh], [GioiTinh], [GhiChu], [NgayTao]) VALUES (3, N'Hoàng Thị Lan', N'035201002222', N'0902223334', NULL, N'Huế', NULL, NULL, NULL, CAST(N'2026-05-11T14:55:52.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LogHopDong] ON 

INSERT [dbo].[LogHopDong] ([MaLog], [MaHD], [MaNV], [NgayTra], [SoTienTra], [TienGocDaThu], [TienLaiDaThu], [DuNoGocConLai], [TongNoConLai], [HinhThucThanhToan], [GhiChu]) VALUES (1, 1, 1, CAST(N'2026-05-11T14:55:52.463' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(14000000.00 AS Decimal(18, 2)), N'Tiền mặt', NULL)
INSERT [dbo].[LogHopDong] ([MaLog], [MaHD], [MaNV], [NgayTra], [SoTienTra], [TienGocDaThu], [TienLaiDaThu], [DuNoGocConLai], [TongNoConLai], [HinhThucThanhToan], [GhiChu]) VALUES (2, 2, 2, CAST(N'2026-05-11T14:55:52.467' AS DateTime), CAST(5000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(15000000.00 AS Decimal(18, 2)), N'Chuyển khoản', NULL)
SET IDENTITY_INSERT [dbo].[LogHopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [CCCD], [SDT], [Email], [DiaChi], [ChucVu], [Username], [PasswordHash], [IsActive], [NgayTao]) VALUES (1, N'Nguyễn Văn Minh', N'001203004567', N'0912345678', N'minh@gmail.com', N'Hà Nội', N'Nhân viên', N'staff01', N'pass1', 1, CAST(N'2026-05-11T14:55:52.363' AS DateTime))
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [CCCD], [SDT], [Email], [DiaChi], [ChucVu], [Username], [PasswordHash], [IsActive], [NgayTao]) VALUES (2, N'Lê Thị Thu Ngân', N'001203004888', N'0988776655', N'ngan@gmail.com', N'Hà Nội', N'Nhân viên', N'nganle', N'pass2', 1, CAST(N'2026-05-11T14:55:52.363' AS DateTime))
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [CCCD], [SDT], [Email], [DiaChi], [ChucVu], [Username], [PasswordHash], [IsActive], [NgayTao]) VALUES (3, N'Trần Văn Khoa', N'001203004999', N'0977112233', N'khoa@gmail.com', N'Đà Nẵng', N'Nhân viên', N'khoatran', N'pass3', 1, CAST(N'2026-05-11T14:55:52.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [LoaiTaiSan], [ThuongHieu], [Model], [MauSac], [SerialNumber], [MoTa], [GiaTriDinhGia], [GiaThanhLy], [TrangThaiTS], [IsSold], [NgayNhapKho], [NgayTraKhach], [NgayThanhLy], [GhiChu]) VALUES (1, 1, N'iPhone 15', N'Điện thoại', NULL, NULL, NULL, NULL, NULL, CAST(25000000.00 AS Decimal(18, 2)), NULL, N'Đang cầm cố', 0, CAST(N'2026-05-11T14:55:52.413' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [LoaiTaiSan], [ThuongHieu], [Model], [MauSac], [SerialNumber], [MoTa], [GiaTriDinhGia], [GiaThanhLy], [TrangThaiTS], [IsSold], [NgayNhapKho], [NgayTraKhach], [NgayThanhLy], [GhiChu]) VALUES (2, 2, N'Xe máy Honda Vision', N'Xe máy', NULL, NULL, NULL, NULL, NULL, CAST(35000000.00 AS Decimal(18, 2)), NULL, N'Đang cầm cố', 0, CAST(N'2026-05-11T14:55:52.427' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [LoaiTaiSan], [ThuongHieu], [Model], [MauSac], [SerialNumber], [MoTa], [GiaTriDinhGia], [GiaThanhLy], [TrangThaiTS], [IsSold], [NgayNhapKho], [NgayTraKhach], [NgayThanhLy], [GhiChu]) VALUES (3, 3, N'Laptop Dell XPS', N'Laptop', NULL, NULL, NULL, NULL, NULL, CAST(40000000.00 AS Decimal(18, 2)), NULL, N'Đang cầm cố', 0, CAST(N'2026-05-11T14:55:52.430' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AAE4DBDE43]    Script Date: 11/05/2026 15:08:18 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__CA1930A5AA38AE6E]    Script Date: 11/05/2026 15:08:18 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__536C85E4B5A609AD]    Script Date: 11/05/2026 15:08:18 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__A955A0AA2D47B5D7]    Script Date: 11/05/2026 15:08:18 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__A9D105344722936C]    Script Date: 11/05/2026 15:08:18 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__CA1930A5A3E2C3E9]    Script Date: 11/05/2026 15:08:18 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT ((0.005)) FOR [LaiSuatNgay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT ((0)) FOR [TongTienDaTra]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT ((0)) FOR [TongNoHienTai]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT ((0)) FOR [IsBadDebt]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT ((0)) FOR [IsLiquidated]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichSuTrangThaiHopDong] ADD  DEFAULT (getdate()) FOR [ThoiGianThayDoi]
GO
ALTER TABLE [dbo].[LogHopDong] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[LogHopDong] ADD  DEFAULT ((0)) FOR [TienGocDaThu]
GO
ALTER TABLE [dbo].[LogHopDong] ADD  DEFAULT ((0)) FOR [TienLaiDaThu]
GO
ALTER TABLE [dbo].[LogHopDong] ADD  DEFAULT ((0)) FOR [DuNoGocConLai]
GO
ALTER TABLE [dbo].[LogHopDong] ADD  DEFAULT ((0)) FOR [TongNoConLai]
GO
ALTER TABLE [dbo].[LogHopDong] ADD  DEFAULT (N'Tiền mặt') FOR [HinhThucThanhToan]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Nhân viên') FOR [ChucVu]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTS]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (getdate()) FOR [NgayNhapKho]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_NhanVien]
GO
ALTER TABLE [dbo].[LichSuTrangThaiHopDong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTrangThai_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[LichSuTrangThaiHopDong] CHECK CONSTRAINT [FK_LichSuTrangThai_HopDong]
GO
ALTER TABLE [dbo].[LichSuTrangThaiHopDong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTrangThai_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LichSuTrangThaiHopDong] CHECK CONSTRAINT [FK_LichSuTrangThai_NhanVien]
GO
ALTER TABLE [dbo].[LogHopDong]  WITH CHECK ADD  CONSTRAINT [FK_LogHopDong_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[LogHopDong] CHECK CONSTRAINT [FK_LogHopDong_HopDong]
GO
ALTER TABLE [dbo].[LogHopDong]  WITH CHECK ADD  CONSTRAINT [FK_LogHopDong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LogHopDong] CHECK CONSTRAINT [FK_LogHopDong_NhanVien]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([SoTienVay]>(0)))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_Deadline] CHECK  (([Deadline2]>[Deadline1]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_Deadline]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  ((len([CCCD])=(12)))
GO
ALTER TABLE [dbo].[LogHopDong]  WITH CHECK ADD CHECK  (([SoTienTra]>(0)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  ((len([CCCD])=(12)))
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD CHECK  (([GiaTriDinhGia]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetContractHistory]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3.4. Xem lịch sử giao dịch
CREATE PROCEDURE [dbo].[sp_GetContractHistory]
    @MaHD INT
AS
BEGIN
    SELECT * FROM dbo.LogHopDong WHERE MaHD = @MaHD ORDER BY NgayTra DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessPayment]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3.2. Xử lý trả nợ
CREATE PROCEDURE [dbo].[sp_ProcessPayment]
    @MaHD INT,
    @MaNV INT,
    @SoTienTra DECIMAL(18, 2),
    @HinhThuc NVARCHAR(50) = N'Tiền mặt'
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NoConLaiTruoc DECIMAL(18, 2) = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());

    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE dbo.HopDong SET TongTienDaTra = TongTienDaTra + @SoTienTra WHERE MaHD = @MaHD;

        INSERT INTO dbo.LogHopDong (MaHD, MaNV, SoTienTra, TongNoConLai, HinhThucThanhToan)
        VALUES (@MaHD, @MaNV, @SoTienTra, @NoConLaiTruoc - @SoTienTra, @HinhThuc);

        IF (@NoConLaiTruoc - @SoTienTra) <= 0
        BEGIN
            UPDATE dbo.HopDong SET TrangThai = N'Đã thanh toán', NgayTatToan = GETDATE() WHERE MaHD = @MaHD;
            UPDATE dbo.TaiSan SET TrangThaiTS = N'Đã trả khách', NgayTraKhach = GETDATE() WHERE MaHD = @MaHD;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterContract]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 3. THỦ TỤC LƯU TRỮ (Stored Procedures)
-- =============================================

-- 3.1. Đăng ký hợp đồng và bóc tách tài sản từ JSON
CREATE PROCEDURE [dbo].[sp_RegisterContract]
    @TenKH NVARCHAR(100),
    @CCCD VARCHAR(12),
    @SDT VARCHAR(15),
    @MaNV INT,
    @SoTienVay DECIMAL(18, 2),
    @Deadline1 DATE,
    @Deadline2 DATE,
    @AssetJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @MaKH INT;
        IF NOT EXISTS (SELECT MaKH FROM dbo.KhachHang WHERE CCCD = @CCCD)
            INSERT INTO dbo.KhachHang (TenKH, CCCD, SDT) VALUES (@TenKH, @CCCD, @SDT);
        SELECT @MaKH = MaKH FROM dbo.KhachHang WHERE CCCD = @CCCD;

        INSERT INTO dbo.HopDong (MaKH, MaNV, SoTienVay, Deadline1, Deadline2)
        VALUES (@MaKH, @MaNV, @SoTienVay, @Deadline1, @Deadline2);
        DECLARE @MaHD INT = SCOPE_IDENTITY();

        INSERT INTO dbo.TaiSan (MaHD, TenTS, LoaiTaiSan, GiaTriDinhGia)
        SELECT @MaHD, [TenTS], [LoaiTS], [GiaTri]
        FROM OPENJSON(@AssetJson) WITH (TenTS NVARCHAR(255), LoaiTS NVARCHAR(100), GiaTri DECIMAL(18, 2));

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RenewContract]    Script Date: 11/05/2026 15:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3.3. Gia hạn hợp đồng
CREATE PROCEDURE [dbo].[sp_RenewContract]
    @MaHD INT,
    @MaNV INT,
    @NewDeadline1 DATE,
    @NewDeadline2 DATE
AS
BEGIN
    UPDATE dbo.HopDong
    SET Deadline1 = @NewDeadline1, Deadline2 = @NewDeadline2, TrangThai = N'Đang vay', IsBadDebt = 0
    WHERE MaHD = @MaHD;

    INSERT INTO dbo.LichSuTrangThaiHopDong (MaHD, MaNV, TrangThaiCu, TrangThaiMoi, GhiChu)
    VALUES (@MaHD, @MaNV, N'Gia hạn', N'Đang vay', N'Gia hạn kỳ hạn mới');
END

GO
EXEC [QuanLyCamDo_Pro].sys.sp_addextendedproperty @name=N'Author', @value=N'KhaiTran - K235480106035' 
GO
USE [master]
GO
