USE [master]
GO
/****** Object:  Database [QuanLyGear_K235480106035]    Script Date: 30/04/2026 03:58:30 ******/
CREATE DATABASE [QuanLyGear_K235480106035]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyGear_K235480106035', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyGear_K235480106035.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyGear_K235480106035_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyGear_K235480106035_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyGear_K235480106035].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyGear_K235480106035]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TongTienDon]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TongTienDon] (@MaDH INT)
RETURNS MONEY
AS
BEGIN
    DECLARE @tong MONEY;

    SELECT @tong = SUM(SoLuong * DonGia)
    FROM ChiTietDonHang
    WHERE MaDH = @MaDH;

    RETURN @tong;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_XepLoaiSP]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_XepLoaiSP] ()
RETURNS @tbl TABLE (
    MaSP INT,
    TenSP NVARCHAR(150),
    TrangThai NVARCHAR(50)
)
AS
BEGIN
    INSERT INTO @tbl
    SELECT 
        MaSP,
        TenSP,
        CASE 
            WHEN SoLuongTon = 0 THEN N'Hết hàng'
            WHEN SoLuongTon < 5 THEN N'Sắp hết'
            ELSE N'Còn nhiều'
        END
    FROM SanPham;

    RETURN;
END;
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] NOT NULL,
	[TenSP] [nvarchar](150) NOT NULL,
	[Gia] [money] NULL,
	[SoLuongTon] [int] NULL,
	[MaLoai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SP_TonThap]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_SP_TonThap] (@SoLuong INT)
RETURNS TABLE
AS
RETURN (
    SELECT * FROM SanPham
    WHERE SoLuongTon <= @SoLuong
);
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] NOT NULL,
	[NgayDat] [date] NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 2, 2500000.0000)
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (2, 1, 2, 2500000.0000)
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (10, 1, 2, 2500000.0000)
GO
INSERT [dbo].[DonHang] ([MaDH], [NgayDat], [TongTien]) VALUES (1, CAST(N'2026-04-30' AS Date), NULL)
INSERT [dbo].[DonHang] ([MaDH], [NgayDat], [TongTien]) VALUES (2, CAST(N'2026-04-30' AS Date), NULL)
INSERT [dbo].[DonHang] ([MaDH], [NgayDat], [TongTien]) VALUES (10, CAST(N'2026-04-30' AS Date), NULL)
GO
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai]) VALUES (1, N'Chuột')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai]) VALUES (2, N'Bàn phím')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [SoLuongTon], [MaLoai]) VALUES (1, N'Logitech G Pro', 2500000.0000, 4, 1)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [SoLuongTon], [MaLoai]) VALUES (2, N'Razer Viper', 2000000.0000, 4, 1)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [SoLuongTon], [MaLoai]) VALUES (3, N'Bàn phím cơ AKKO', 1500000.0000, 10, 2)
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CT_DH] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CT_DH]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CT_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CT_SP]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SP_Loai]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSanPham]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemSanPham]
    @MaSP INT,
    @TenSP NVARCHAR(150),
    @Gia MONEY,
    @SoLuong INT,
    @MaLoai INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM SanPham WHERE MaSP = @MaSP)
    BEGIN
        PRINT N'Sản phẩm đã tồn tại';
    END
    ELSE
    BEGIN
        INSERT INTO SanPham
        VALUES (@MaSP, @TenSP, @Gia, @SoLuong, @MaLoai);

        PRINT N'Thêm thành công';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhTongTienDon]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhTongTienDon]
    @MaDH INT,
    @TongTien MONEY OUTPUT
AS
BEGIN
    SELECT @TongTien = SUM(SoLuong * DonGia)
    FROM ChiTietDonHang
    WHERE MaDH = @MaDH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XemChiTietDonHang]    Script Date: 30/04/2026 03:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XemChiTietDonHang]
AS
BEGIN
    SELECT 
        dh.MaDH,
        dh.NgayDat,
        sp.TenSP,
        ct.SoLuong,
        ct.DonGia,
        (ct.SoLuong * ct.DonGia) AS ThanhTien
    FROM DonHang dh
    JOIN ChiTietDonHang ct ON dh.MaDH = ct.MaDH
    JOIN SanPham sp ON sp.MaSP = ct.MaSP;
END;
GO
USE [master]
GO
